/*For all of the website*/
body {
    background-color: #090802;
    margin: 0;
    padding-top: 70px;
}

/* keep navbar at top */
.topnav {
    border-bottom: 2px solid #4a0000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    background-color: #020509;
    z-index: 10;
    box-sizing: border-box;
    height: 70px;
}

/* center only the About Me box */
.aboutme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #050209;
  width: 80%;
  margin: 120px auto 0 auto; 
  padding: 40px;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Text part */
.about-text {
  flex: 1;
  text-align: left;
  padding-right: 30px;
}

/* Image part */
.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
}

/* Optional button styling */
button {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

p, h1, h2 {
    text-align: center;
    color: white;
}


/*For navbar*/

.navlinks {
  display: flex;
  flex-direction: row;
}

.navlinks a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  padding: 6px 10px;
  border-radius: 4px;
}

.navlinks a:hover {
  background-color: gray;
  color: white;
}

.navlinks a.active {
  background-color: gray;
  color: white;
}

.title {
  font-size: 28px;
  color: white;
  margin: 0;
}


/*For Product Grid*/

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 100px;
}

.container div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}


